/* general styles */
.badge {
  display: inline-block;
  padding: 0.3rem 0.8rem;
  font-size: 0.875rem;
  font-family: 'Inter', sans-serif;
}

.badge span {
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
}
/* colors */
.gray {
  background: #f3f4f6;
  color: #1f2937;
}
.red {
  background: #fee2e2;
  color: #991b1b;
}
.yellow {
  background: #fefcbf;
  color: #7f7519;
}
.green {
  background: #d1fae5;
  color: #1d4e24;
}
.blue {
  background: #dbeafe;
  color: #1e3a8a;
}
.indigo {
  background: #e0e7ff;
  color: #3f43ad;
}
.purple {
  background: #ede9fe;
  color: #6d28d9;
}
.pink {
  background: #fee2e2;
  color: #991b1b;
}

/* border radius  */
.pill {
  border-radius: 0.75rem;
}
.square {
  border-radius: 0.25rem;
}
